<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<bean id="beanFactory" class="utils.SpringFactory" />
	<!-- 导入资源文件 -->
	<context:property-placeholder location = "classpath:db.properties"/>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" >  
        <property name="user" value = "${jdbc.user}"></property>
		<property name="password" value = "${jdbc.password}"></property>
		<property name="jdbcUrl" value = "${jdbc.jdbcUrl}"></property>
		<property name="driverClass" value = "${jdbc.driverClass}"></property>
    </bean>
    
   <!-- 配置spring的jdbcTemplate -->
	<bean id = "jdbcTemplate"
		class = "org.springframework.jdbc.core.JdbcTemplate">
			<property name="dataSource" ref = "dataSource"></property>	
	</bean>
    
    <bean id="cardDao" class="com.lc.dao.CardDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    <bean id="gameCardDao" class="com.lc.dao.GameCardDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    <bean id="eventDao" class="com.lc.dao.EventDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    <bean id="gameDao" class="com.lc.dao.GameDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    <bean id="heroDao" class="com.lc.dao.HeroDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    <bean id="gameListenerDao" class="com.lc.dao.GameListenerDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    <bean id="heroMinionDao" class="com.lc.dao.HeroMinionDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    <bean id="minionDao" class="com.lc.dao.MinionDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    <bean id="weaponDao" class="com.lc.dao.WeaponDao">
    	<property name="jdbcTemplate">
         	<ref bean="jdbcTemplate" />
       </property>
    </bean>
	
	<bean id="springCards" class="com.lc.beans.CardCache" init-method="init">
		<property name="cardDao" >
			<ref bean="cardDao" />	
		</property>
	</bean>
	
	<bean id="actionCache" class="com.lc.beans.ActionCache">
	</bean>
	
	<bean id="playerCache" class="com.lc.beans.PlayerCache">
		<property name="gameDao" >
			<ref bean="gameDao" />	
		</property>
	</bean>
	
		
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <property name="dataSource" ref="dataSource" />
    </bean> 
    
    <tx:advice id="txAdvice" transaction-manager="txManager">
		 <tx:attributes>
			 <tx:method name="insert*" propagation="REQUIRED" />
			 <tx:method name="create*" propagation="REQUIRED" />
			 <tx:method name="update*" propagation="REQUIRED" />
			 <tx:method name="take*" propagation="REQUIRED" />
			 <tx:method name="join*" propagation="REQUIRED" />
			 <tx:method name="end*" propagation="REQUIRED" />
			 <tx:method name="get*" propagation="NOT_SUPPORTED" read-only="true" />
		 </tx:attributes>
    </tx:advice> 
    
    <aop:config>
		<aop:pointcut id="allManagerMethod"
			expression="execution(public * com.lc.dao..*.*(..))" />
		<aop:advisor pointcut-ref="allManagerMethod" advice-ref="txAdvice" />
	</aop:config> 
</beans>

